* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

h3 {
    margin: 20px 0;
}

.container {
    width: 825px;
    margin: 50px auto;
}

article {
    border: 2px solid black;
}

img {
    margin-bottom: 10px;
}

.price-label {
    font-size: 25px;
    margin-bottom: 10px;
}

.shipping-info {
    color: #606060;
    text-transform: uppercase;
    margin-bottom: 30px;
}

p {
    margin: 10px 0px
}

ul {
    margin-left: 50px;
    margin-bottom: 20px;
}

a:link {
    color: black;
    text-decoration: underline;
}

a:link:visited {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

button, button:hover {
    border: none;
    padding: 15px 0;
    border-top: 2px solid black;
    font-size: 22px;
    text-transform: uppercase;
    width: 100%;
}

button {
    background-color: black;
    color: white;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

li {
    list-style: square;
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0px;
}

.article-title {
    text-align: center;
    text-transform: uppercase;
    border-color: #f7f7f7;
    padding: 30px 0;
}
