/***********************/
/* HEADER SECTION */
/***********************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    height: 9.6rem; /* We are making this of a fixed height, because we want it to be sticky */
    padding: 0 4.8rem;
}

/***********************/
/* NAVIGATION SECTION */
/***********************/


.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
}

.main-nav-link:link, .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem; /* Slightly smaller than the hero-description to not get the focus */
    transition: all 0.3s;
}

.main-nav-link:hover, .main-nav-link:active {
    color: #cf711f;
}

.main-nav-link.nav-cta:link, .main-nav-link.nav-cta:visited { /* Specifying 2 classes (joining them with the "." increases the specificity of the style, meaning that it will always be applied)*/
    /* Making this to look very similar to the hero CTA button */
    display: inline-block;
    padding: 1.2rem 2.4rem;
    border-radius: 9px; /* Using px as we do not want to scale this */
    color: #fff;
    background-color: #e67e22;
}

.main-nav-link.nav-cta:hover, .main-nav-link.nav-cta:active {
    background-color: #cf711f;
}


/***********************/
/* HERO SECTION */
/***********************/
.section-hero {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    max-width: 130rem; /* Looks nicer when hero section is slightly wider than the content */
    margin: 0 auto; /* Center in the viewport */
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9.6rem; /* uses same as padding top and bottom for consistency */
}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}


.hero-img {
    width: 100%
}


.delivered-meals {
    display: flex;
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
}

.delivered-imgs {
    display: flex;
}

.delivered-imgs img {
    height: 4.8rem;
    width: 4.8rem; /* Usually do not need to set width, but there is (was) a bug in safari when images are flex items, so need to add it */
    border-radius: 50%;
    margin-right: -1.6rem; /* To overlap the images */
    border: 3px solid #fdf2e9; /* Add border to introduce some separation. Use the color from the background, so that faces become "detached" from each other */
}

.delivered-imgs img:last-child {
    margin-right: 0; /* To overlap the images */
}

.delivered-text {
    font-size: 1.8rem; /* Slightly smaller than the hero-description to maintain the hierarchy - this is less important. */
    font-weight: 600;
}

.delivered-text span {
    color: #cf711f; /* Had to check color contrast score between this and the background. It is on the lower side, but because this is bold, it will pass for AA regulation. */
    font-weight: 700;
}

/***********************/
/* FEATURED IN SECTION */
/***********************/

.section-featured {
    padding: 4.8rem 0 3.2rem;
}

.heading-featured-in {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color: #888;
}

.logos {
    display: flex;
    justify-content: space-around;
}

.logos img {
    height: 3.2rem;
    filter: brightness(0); /* This is a cool trick to make all images black. Could also use grayscale() here to make them gray, but that colors differently different colors, which may still take a bit too much attention from the rest of the page */
    opacity: 50%; /* This, when added together with the brightness filter above, makes images gray, which looks better than pure black */
    transition: all 0.3s;
}

.logos img:hover {
    filter: brightness(100%);
    opacity: 100%;
}

/***********************/
/* HOW IT WORKS SECTION */
/***********************/

.section-how {
    padding: 9.6rem 0;
}

.step-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-description {
    font-size: 1.8rem;
    line-height: 1.8;
}

.step-image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step-image-box::before, .step-image-box::after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.step-image-box::before {
    width: 60%;
    /* height: 45%; */ /* This does not make the shape square as parent element (step-image-box) is not square to begin with */
    padding-bottom: 60%; /* PRO HACK: This actually means "45% of parent element width" */
    background-color: #fdf2e9;
    z-index: -2;
}

.step-image-box::after {
    width: 45%;
    /* height: 30%; */ /* This does not make the shape square as parent element (step-image-box) is not square to begin with */
    padding-bottom: 45%; /* PRO HACK: This actually means "30% of parent element width" */
    background-color: #fae5d3;
    z-index: -1;
}

.step-img {
    width: 35%;
}

/***********************/
/* MEALS SECTION */
/***********************/

.section-meals {
    padding: 9.6rem 0;
}

.meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden; /* Since image is on top of the card and is square, the card's borders at the top appear square as well. This makes them round by hiding the corners of the square */
    transition: all 0.4s; /* The larger the element, the longer the animation can take */
}

.meal:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06); /* When you lift something up, it moves closer to the light source, so shadow gets bigger and lighter */
}

.meal-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}

.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #333;
    border-radius: 1000px;
    font-weight: 600;
}

.tag--vegetarian {
    background-color: #51cf66;
}

.tag--paleo {
    background-color: #94d82d;
}

.tag--vegan {
    background-color: #ffd43b;
}


.meal-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.4rem;
}

.meal-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.meal-attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #cf711f; /* SVG icons sometimes need messing around a bit to customize. Color could be sent either through color, stroke or fill attributes, size can be set through front-size or just width and height, etc */
}

.meal-img {
    width: 100%;
}

.all-recipes {
    text-align: center;
    font-size: 1.8rem;
}


/***********************/
/* TESTIMONIALS SECTION */
/***********************/

.section-testimonials {
    background-color: #fdf2e9;
    display: grid;
    grid-template-columns: 55fr 45fr; /* If we treat fr as percentages (keeping them to sum up roughly to about 100), we can have many more "steps" we can play with, which allows for better view usually */
    align-items: center; /* Fix photos having weird paddings as we scale viewport down */
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4.8rem;
    column-gap: 8rem;
}

.testimonials-container {
    padding: 9.6rem;
}

.testimonial-img {
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

.testimonial-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}

.testimonial-name {
    font-size: 1.6rem;
    color: #6f6f6f;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}

.gallery-item {
    overflow: hidden; /* This changes the behavior when we hover on images - they no longer become larger, but zoom in instead */
}

.gallery-item img {
    width: 100%;
    display: block;
    transition: all 0.4s;
}

.gallery-item img:hover {
    transform: scale(1.1);
}


/***********************/
/* MEALS SECTION */
/***********************/

.section-pricing {
    padding: 9.6rem 0;
}

.pricing-plan {
    border-radius: 11px;
    width: 75%;
}

.pricing-plan--starter {
    justify-self: end;
    border: 2px solid #fdf2e9;
    padding: 4.6rem; /* To compensate for the border which makes the card larger than the complete one, we are decreasing the padding */

}

.pricing-plan--complete {
    background-color: #fdf2e9;
    padding: 4.8rem;
    position: relative;
    overflow: hidden;
}

.pricing-plan--complete::after {
    content: "Best value";
    position: absolute;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    top: 7%; /* Make it stay in place when scaling the interface up or down by using percentages  */
    right: -18%; /* Make it stay in place when scaling the interface up or down by using percentages  */
    background-color: #ffd43b;
    color: #333;
    padding: 0.8rem 8rem;
    transform: rotate(45deg);
}


.plan-header {
    text-align: center;
    margin-bottom: 4.8rem;
}

.plan-name {
    color: #cf711f;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.75;
    margin-bottom: 3.2rem;
}

.plan-price {
    font-size: 6.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.6rem;
}

.plan-price span {
    font-size: 3rem;
    font-weight: 500;
    margin-right: 0.8rem;
}

.plan-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
}

.plan-sign-up {
    text-align: center;
    margin-top: 4.8rem;
}

.plan-details {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
}

.feature-icon {
    color: #e67e22;
    height: 3.2rem;
    width: 3.2rem;
    background-color: #fdf2e9;
    margin-bottom: 3.2rem; /* Icon should be more detached from title than title from the text (because of how related together they are), so giving it 2x margin */
    padding: 1.6rem;
    border-radius: 50%;
}

.feature-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.feature-text {
    font-size: 1.8rem;
    line-height: 1.8;
}


/***********************/
/* CTA SECTION */
/***********************/

.section-cta {
    padding: 4.8rem 0 12.8rem 0;
}

.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    overflow: hidden;
}

.cta-text-box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem; /* Large text makes an illusion that there is more space than there actually is, so making padding top slightly smaller to fix this */
    color: #45260a /* Using a very dark shaded of primary color;*/
}

.cta-header {
    margin-bottom: 4.8rem;
}

.cta .heading-secondary {
    color: inherit; /* use the color from the paren .cta-text-box */
    margin-bottom: 3.2rem;
}

.cta-text {
    font-size: 1.8rem;
    line-height: 1.8;
}

.cta-img-box {
    background-image: linear-gradient(to right bottom, rgba(235, 152, 78, 0.3), rgba(230, 126, 34, 0.3)), url("../img/eating.jpg");
    background-size: cover;
    background-position: center;
}

.cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2.4rem;
    column-gap: 3.2rem;
}

.cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.cta-form input, .cta-form select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    color: inherit;
    font-family: inherit; /* HTML input elements do not automatically inherit the font-family from the html <body>. Need to force them to do so */
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* By adding a very subtle shadow, we are makinga huge difference on how it looks like */
}

.cta-form input::placeholder {
    color: #aaa; /* Placeholder should be lighter so that it does not appear as actual user-entered content */
}

.cta *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}


/***********************/
/* FOOTER SECTION */
/***********************/

.section-footer {
    padding: 12.8rem 0;
    border-top: 1px solid #eee;
}

.grid--footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr; /* Making first 2 columns wider to have text in them to not exceed 2 lines */
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: block;
    margin-bottom: 3.2rem;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.social-icon {
    height: 2.4rem;
    width: 2.4rem;
}

.copyright {
    font-size: 1.4rem;
    color: #767676;
    line-height: 1.6rem;
    margin-top: auto; /* Pushes the content to the bottom of the column */
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}

.address {
    margin-bottom: 2.4rem;
}

.footer-navigation {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link:link, .footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.3s;
}

.footer-link:hover, .footer-link:active {
    color: #555;
}

